@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    overflow: hidden;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #d1d7db #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #d1d7db;
    border-radius: 40px;
    border: 3px solid #ffffff;
}